/******************************************************************************/
/* SCAFFOLD */
/******************************************************************************/

html {
  min-height: 100%;
  line-height: 1.4;
  box-sizing: border-box;
}

body {
  min-width: 350px;
  margin: .75em 1em 1em;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  color: #555;
  -webkit-font-smoothing: antialiased;
}

* {
  outline: none;
}

::selection {
  background-color: #2ECC40;
  color: #fff;
}



/******************************************************************************/
/* FORM */
/******************************************************************************/

.o-input {
  font-size: 19px;
  border: 2px solid #bbb;
  line-height: 2;
  padding: 0 .5em;
  width: 100%;
  border-radius: 4px;
  transition: border-color .2s ease-out;
}

.o-input:focus {
  border-color: #2ECC40;
}



/******************************************************************************/
/* BUTTON */
/******************************************************************************/

.o-btn {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin: 0;
  transition: all .2s ease-out;
  border: none;
  padding: .45em 1.25em .55em;
  background: transparent;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0,0,0,.2);
  background-color: #2ECC40;
  box-shadow: inset -2px -2px 0 rgba(0,0,0, .2);
  border-radius: 4px;
  text-decoration: none;
}

.o-btn:hover,
.o-btn:focus,
.o-btn:active {
  background-color: #229930;
}



/******************************************************************************/
/* GRID */
/******************************************************************************/

.o-row__padder {
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-bottom: 1em;
}

.o-row__padder .o-row {
  border-spacing: 1.5em 0;
}

.o-row {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.o-col {
  display: table-cell;
  vertical-align: top;
}



/******************************************************************************/
/* UTILITIES */
/******************************************************************************/

.u-pull-right {
  float: right;
}
